{% extends "base.html" %}
{% block content %}
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="mb-4">Airbus А320-200</h1>
                <p>Airbus А320-200 — одна из модификаций популярного Airbus A320. Основное отличие от предыдущей версии — увеличенный объём топливных баков и множество технических нововведений, касающихся двигательной части.</p>
                <img src="https://www.biletik.aero/upload/resize_cache/format_converted/70096d1190486f9b2f6911b6614bf622.webp", width="650", height="350">
                <br>
                <br>
                <p>Производство Airbus А320-200 началось в 1995 году. Первый полёт авиалайнер совершил 13 августа 1997 года, а в апреле 1998 года принял своих первых пассажиров.</p>
                <br>
                <p>Airbus A320-200 отличает от предшественников электродистанционное управление Fly-by-Wire. По бокам от обоих пилотов размещаются два сайдстика, которые заменяют собой обычный штурвал. Они не имеют прямой связи с деталями управления. Любые изменения курса рассчитывает компьютер, а сигнал от него подаётся на гидропривод отклонения рулей.</p>
                <br>
                <h3>Расшифровка обозначений схемы салона Airbus A320-200</h3>
                <img src="https://www.biletik.aero/upload/medialibrary/f3e/f3e64bc9f92ad55c4dd8fafa465e83eb.png", width="430", height="350">
                <br>
                <br>
                <h3>Схема салона, лучшие и менее комфортные места в самолёте Airbus A320-200 авиакомпании «Россия»</h3>
                <br>
                <img src="https://www.biletik.aero/upload/resize_cache/format_converted/c9f56023666f45958e607e73826b7afc.webp", width="770", height="300">
            </div>
        </div>
    </div>

    <footer class="text-muted py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Наверх</a>
          </p>
          <p class="mb-1">© 2024 ROSTIC`S</p>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
{% endblock %}