{% extends "base.html" %}
{% block content %}
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="mb-4">Embraer 190</h1>
                <p>Embraer ERJ-190 — среднемагистральный узкофюзеляжный самолет, разработанный бразильской компанией Embraer в начале 2000-х годов.</p>
                <br>
                <img src="https://www.biletik.aero/upload/resize_cache/format_converted/dc0331a7cdf7439fb9838181c36c3df7.webp", width="650", height="350">
                <br>
                <br>
                <p>Embraer 190 создан на основе моделей E-170/175, однако для получения оптимальных характеристик, самолет получил новое, более длинное крыло, усовершенствованный руль высоты, а также, новые, более современные двигатели CF34-10Es, имеющие много общего с последним двигателем CFM56. Впервые самолеты такой категории имеют технологию дистанционного управления рулями с помощью электроприводов.</p>
                <br>
                <p>Салон Embraer ERJ-190 оборудован непрямолинейным освещением и довольно вместительными багажными полками. Расположение кресел выполнено в пропорции 2+2. Впервые самолет был представлен 11 февраля 1999 года и показан в июне 1999 года на Парижской авиавыставке. Первый полет состоялся 12 марта 2004 года. Серийное производство Эмбраэр ERJ-190 началось в середине 2004 года. Сертификат был получен в 2005 году.</p>
                <br>
                <h3>Схема салона, лучшие и менее комфортные места в самолёте Embraer 190 с комплектацией на 100 мест</h3>
                <img src="https://www.biletik.aero/upload/medialibrary/f3e/f3e64bc9f92ad55c4dd8fafa465e83eb.png", width="430", height="350">
                <br>
                <br>
                <img src="https://www.biletik.aero/upload/resize_cache/format_converted/e040527e87d519b5cda24b6e4ff84592.webp", width="940", height="300">
            </div>
        </div>
    </div>

    <footer class="text-muted py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Наверх</a>
          </p>
          <p class="mb-1">© 2024 ROSTIC`S</p>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
{% endblock %}